{% extends 'base.html.twig' %}

{% block title %}WF Camp !
{% endblock %}

{% block body %}
	<h1>Liste des posts</h1>
	{% for post in posts %}
		<div class="card border-secondary my-3">
			<div class="card-header">
				@{{post.user.username}}
			</div>
			<div class="card-body">
				<p class="card-text">
					{{ post.content }}</p>

			</div>
			<div class="card-footer text-muted ">
				<a href="#" class="btn btn-light">
					<i class="far fa-heart"></i>
				</a>
				<a href={{ path('app_post_details',{'id': post.id} ) }} class="btn btn-primary">
					<i class="far fa-comments"></i>
				</a>
				{% if app.user %}
					{% if app.user is same as(post.user) %}
						<a href={{ path('app_post_edit',{'id': post.id} ) }} class="btn btn-warning">
							<i class="fas fa-wrench"></i>
						</a>
						<form method="post" action={{ path('app_post_delete', {'id' : post.id} ) }} class="btn btn-danger">
							<input type="hidden" name="_token" value={{ csrf_token('delete' ~ post.id) }}>
							<button type="submit">
								<i class="far fa-trash-alt"></i>
							</button>
						</form>
					{% endif %}
				{% endif %}
				<span>
					{{ post.createdAt | date('d/m/Y') }}</span>
			</div>
		</div>
	{% endfor %}
{% endblock %}
